In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [7]:
df = pd.DataFrame({'month': [1, 4, 7, 10],
                   'year': [2012, 2014, 2013, 2014],
                   'sale': [55, 40, 84, 31]})
df

   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

In [8]:
?df.set_index

In [15]:
df.describe(include="all")

           month         year       sale
count   4.000000     4.000000   4.000000
mean    5.500000  2013.250000  52.500000
std     3.872983     0.957427  23.216374
min     1.000000  2012.000000  31.000000
25%     3.250000  2012.750000  37.750000
50%     5.500000  2013.500000  47.500000
75%     7.750000  2014.000000  62.250000
max    10.000000  2014.000000  84.000000

In [16]:
?df.append

In [20]:
?df.plot

In [19]:
?plt.bar

In [21]:
x=[1,2,3,4]

In [22]:
y=[10,20,25,30]

In [23]:
fig = plt.figure

In [ ]:
ax = fix.add.